@use "../../dOtros/variables" as var;

//ABOUTUSPAGE
.subPnl {
    width: 80vw;

    .pnlCol {
        justify-content: flex-start;

        .boxBtnB{
            margin: 0 auto;
        }

        //listado de parrafos
        ul {
            .pnlRow {
                border: none;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                background-color: var.$verde2;
                justify-content: space-between;
                align-items: center;

                .link {
                    border-radius: 5px;
                    background-color: var.$verde1;
                    padding: 1rem;
                }

                span {
                    color: white;
                    margin-left: 2rem;
                    text-align: end;
                }
            }
        }
    }
    
    //ABOUTUSID PAGE
    .pnlRow{
        align-items: center;

        input{
            width: 40px;
            height: 40px;
            text-align: center;
        }

        .title{
            margin-bottom:0;
            margin-right: 1rem;
        }

        .addText{
            height: auto;
            margin-bottom: 0.5rem;
        }

        .pnlCol{
            border:none;
            margin:0;
        }

        .boxBtnB{
            margin-right: 1px;
            margin-left: 1px;

            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }
}