@use "../../dOtros/variables" as var;

.sctnPnlShipping{
    
//FORM AGREGAR TARIFA
.divCol {

    div {
        display: flex;
        flex-direction: row;

        button:not(:last-child) {
            margin-right: 0.3rem;
        }
    }

    .boxBtnB{
        margin-top: 2rem;
    }
}


//LISTADO DE TARIFAS
.divRow {
    flex-direction: row;
    align-items: center;

    span {
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
    
    //A PARTIR DE AQUÍ INCLUYE A SHIPPINGID
    p {
        margin-left: 2rem;
    }

    strong {
        color: var.$dorado1;
        font-weight: bold;
    }

    .boxBtnB {
        margin-left: 0.5rem;
    }
}
}