@use "../../dOtros/variables" as var;

.sctnPnlSocials {
    .subPnl {
        .pnlCol {
            justify-content: flex-start;

            .divRow {
                align-items: center;
                
                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                .link{
                    margin:unset;
                }

                .title {
                    margin: unset;
                    margin-right: 2rem;
                }
            }

            .divCol{
                .title{
                    text-align: left;
                    margin-bottom: 0.3rem;
                }

                .createInput{
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}