@use "../dOtros/variables" as var;

.title {
    margin-bottom: 0.5rem;
    color: white;
    font-weight: bold;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    form {
        background-color: var.$verde5;
        padding: 1rem;
        border: 1px solid var.$dorado1;
        display: flex;
        flex-direction: column;

        p {
            text-align: center;
            margin-bottom: 0.5rem;
            color: var.$dorado1;
            font-size: 22px;
            font-weight: bold;
            text-decoration: underline;
        }

        div {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;

            input {
                margin-right: 5px;
                padding: 5px;
            }
        }

        button {
            padding: 0.5rem;
            background-color: var.$verde3;
            border: 1px solid var.$dorado1;
            cursor: pointer;
            color: var.$dorado1;
            font-weight: bold;
            align-self: center;
        }

        .error {
            margin-top: 1rem;
            font-size: 22px;
            text-decoration: none;
            color: red;
        }
    }
}

.admin_dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    color: var.$dorado1;
    width: 50%;

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem auto;
        padding: 15px;
        border: 1px solid var.$dorado1;
        color: var.$dorado1;
        border-radius: 5px;
    
        a {
            border-radius: 5px;
            color: var.$dorado1;
            text-decoration: none;
            border: 1px solid var.$dorado1;
            background-color: var.$verde5;
            padding: 0.5rem;
            margin: 0.5rem;

        }
    }
}


table {
    thead {
        tr {
            th {
                border-bottom: 1px solid var.$dorado1;
                padding: 0.5rem;
                color: white;

                &:first-child {
                    text-align: left;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 0.5rem;
                vertical-align: top;
                color: white;

                a {
                    text-decoration: none;

                    span {
                        color: var.$dorado1;
                        font-weight: bold;

                        &:hover {
                            color: var.$verde5;
                        }
                    }
                }

                strong a {
                    color: var.$dorado1;
                    text-decoration: none;
                }
            }
        }
    }
}

.ver-mas-container {
    margin-top: 1rem;
    text-align: center;
    border: 1px solid var.$dorado1;

    .ver-mas-btn {
        background-color: var.$verde2;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
    }
}


.order_form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border: 1px solid var.$dorado1;
    border-radius: 5px;
    padding: 1rem;

    .form_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        color: var.$dorado1;

        p {
            margin-bottom: 3px;
        }

        .shop_data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-left: 1px solid var.$dorado1;
            border-right: 1px solid var.$dorado1;
            padding: 0 10px;
            margin-left: 0;
            margin-right: 0;
            color: var.$dorado1;

            a {
                color: var.$dorado1;
            }
        }

        .order_data {
            display: flex;
            flex-direction: column;

            .state {
                margin-top: 20px;
            }

        }

        div {
            margin: 15px;

            img {
                width: 50px;
            }
        }
    }

    .form_client {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        color: var.$dorado1;
        padding: 15px;

        h3 {
            color: white;
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 3px;

            a {
                border: none;
                padding: 0;

                &:hover {
                    color: white;
                }
            }
        }

    }

    table {
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        padding: 15px;
        margin-top: 10px;

        thead tr th {
            border-bottom: 1px solid var.$dorado1;
            padding-bottom: 5px;
            color: white;

            &:first-child {
                text-align: left;
            }
        }

        tbody {
            .envio {
                background-color: var.$verde1;
            }

            tr {
                td {
                    padding: 10px 0;
                    color: white;
                    text-align: center;

                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        border-bottom: none; // evitar doble borde en la última fila
                    }
                }
            }
        }

        tfoot {
            background-color: var.$verde5;
            color: white;

            .deuda-row {
                background-color: orange;
            }

            tr td {
                text-align: center;
                padding: 10px;
                font-weight: bold;

                &:first-child {
                    text-align: left;
                }
            }
        }
    }

    .form_btns {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        color: var.$dorado1;
        padding: 15px;

        .btns_update,
        .btns_state {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            color: var.$dorado1;
            padding: 5px;
            justify-content: space-between;
            align-items: center;

            input {
                padding: 0.5rem;
                margin-right: 10px;
                text-align: center;
            }

            input[type='number'] {
                appearance: textfield; // Propiedad estándar

                // Chrome, Safari, Edge
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                // Firefox
                -moz-appearance: textfield;
            }

            button {
                padding: 0.5rem;
                background-color: var.$verde4;
                border: 1px solid var.$dorado1;
                cursor: pointer;
                color: var.$dorado1;
                font-weight: bold;
                margin: 3px;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                    background-color: gray; // opcional, si querés un color diferente
                    color: var.$dorado1; // podés mantener el color o bajarle la saturación
                }
            }
        }
    }

    a {
        margin-top: 10px;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        color: var.$dorado1;
        padding: 15px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

.client_form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border: 1px solid var.$dorado1;
    border-radius: 5px;
    padding: 1rem;
    justify-content: space-between;

    .client_header {
        display: flex;
        flex-direction: column;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        padding: 15px;
        justify-content: center;

        p {
            color: white;
            margin-bottom: 8px;
        }

        div p {
            color: var.$dorado1;
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 3px;

            }
        }
    }

    .client_pedidos {
        display: flex;
        flex-direction: column;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        padding: 15px;
        margin-top: 10px;

        p {
            color: white;
            margin-bottom: 8px;
        }

        table {

            thead tr th {
                border-bottom: 1px solid var.$dorado1;
                padding-bottom: 5px;
                color: white;

                &:first-child {
                    text-align: left;
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px 0;
                        color: white;
                        text-align: center;
                        min-width: 150px;

                        &:first-child {
                            text-align: left;
                        }

                        a {
                            text-decoration: none;
                            color: var.$dorado1;
                            font-weight: bold;
                            border: none;
                            padding: 0;

                            &:hover {
                                color: var.$verde5;
                            }
                        }

                    }
                }
            }

            tfoot {
                background-color: var.$verde5;
                color: white;

                tr td {
                    text-align: center;
                    padding: 10px;
                    font-weight: bold;

                    &:first-child {
                        text-align: left;
                    }
                }
            }
        }

    }

    a {
        margin-top: 10px;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        color: var.$dorado1;
        padding: 15px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

.costs_form {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;

    a {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        background-color: var.$verde5;
        padding: 1rem;
        border: 1px solid var.$dorado1;
        border-radius: 5px;
        text-decoration: none;
        color: var.$dorado1;
        align-self: center;
        font-weight: bold;
    }

    .form_addCost {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        background-color: var.$verde5;
        padding: 1rem;
        border: 1px solid var.$dorado1;
        border-radius: 5px;

        p {
            margin-bottom: 15px;
            color: var.$dorado1;
        }

        input {
            margin-bottom: 8px;
            padding: 0.5rem;
        }

        input[type='number'] {
            appearance: textfield; // Propiedad estándar

            // Chrome, Safari, Edge
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            // Firefox
            -moz-appearance: textfield;
        }

        button {
            background-color: var.$verde2;
            color: var.$dorado1;
            border: 1px solid var.$dorado1;
            padding: 0.5rem;
            align-self: center;
        }
    }

    .form_editCost {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        background-color: var.$verde5;
        padding: 1rem;
        border: 1px solid var.$dorado1;
        border-radius: 5px;

        p {
            margin-bottom: 15px;
            color: var.$dorado1;
        }

        div {
            display: flex;
            flex-direction: row;

            div {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                align-items: center;

                strong {
                    color: white;
                    min-width: 150px;
                }

                span {
                    color: white;
                    min-width: 50px;
                }

                button {
                    background-color: var.$verde2;
                    color: var.$dorado1;
                    border: 1px solid var.$dorado1;
                    padding: 0.3rem;
                    align-self: center;
                    margin-left: 8px;
                }

                input {
                    margin-right: 5px;
                    padding: 0.3rem;
                }

                input[type='number'] {
                    appearance: textfield; // Propiedad estándar

                    // Chrome, Safari, Edge
                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    // Firefox
                    -moz-appearance: textfield;
                }
            }

            &:not(:last-child) {
                padding-bottom: 0.3rem;
            }
        }
    }
}