@use "../dOtros/variables" as var;

.catalogo {
    display: flex;
    flex-direction: row;

    .lat-menu {
        background-color: var.$verde2;
        padding: 2.5rem 1rem;
        border-right: 1px solid var.$dorado1;
        display: flex;

        ul {
            li {
                display: flex;
                color: var.$dorado1;
                margin-bottom: 2rem;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    .products-container {

        .products {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 1rem;

            .product-card {
                width: 180px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                background-color: var.$verde2;
                padding: 0 1rem;
                align-items: center;
                margin: 0 1rem;
                border-radius: 3px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                transition: transform 0.2s ease, box-shadow 0.2s ease;

                &:hover {
                    transform: translateY(2px) translateX(2px);
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
                }

                .product-title {
                    color: var.$dorado1;
                    margin: 10px 0;
                    display: flex;
                    flex-direction: row;
                    max-width: 200px;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 100%;

                    h2 {
                        font-size: 100%;
                        padding: 0 10px;
                    }

                    .product-info {
                        font-size: 100%;
                        background-color: var.$verde4;
                        padding: 2px 9px;
                        border-radius: 100px;
                    }
                }

                .product-price {
                    color: var.$dorado1;
                    margin: 10px 0;
                    font-weight: bold;
                }

                .product-img-container {
                    min-height: 150px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;

                    .product-img {
                        border-radius: 3px;
                        width: 150px;
                    }
                }

                .product-buttons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        width: 20px;
                        height: 20px;
                        margin: 0.5rem;
                        color: var.$dorado1;
                        background-color: var.$verde4;
                        border: 1px solid var.$dorado1;
                        border-radius: 3px;
                    }

                    input[type="number"] {
                        -moz-appearance: textfield;
                        /* Firefox */
                        -webkit-appearance: none;
                        /* Chrome, Safari, Opera */
                        appearance: none;
                        /* Otros navegadores */
                    }

                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input {
                        width: 30px;
                        height: 30px;
                        border-radius: 3px;
                        border: none;
                        text-align: center;
                    }
                }

                .product-add {
                    margin: 10px 0;
                    padding: 0.5rem;
                    width: 80%;
                    color: var.$dorado1;
                    background-color: var.$verde4;
                    border: 1px solid var.$dorado1;
                    border-radius: 5px;
                }
            }
        }
    }
}