@use "../dOtros/variables" as var;
@use "../bMain/mainCatalogo";
@use "../bMain/mainAboutUs";
@use "../bMain/mainCart";
@use "../bMain/mainProducto";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        color: white;
        margin: 1rem 0;
    }
}

