@use "../dOtros/variables" as var;

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    form {
        background-color: var.$verde5;
        padding: 1rem;
        border: 1px solid var.$dorado1;
        display: flex;
        flex-direction: column;

        p {
            text-align: center;
            margin-bottom: 0.5rem;
            color: var.$dorado1;
            font-size: 22px;
            font-weight: bold;
            text-decoration: underline;
        }

        div {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;

            input {
                margin-right: 5px;
                padding: 5px;
            }
        }

        button {
            padding: 0.5rem;
            background-color: var.$verde3;
            border: 1px solid var.$dorado1;
            cursor: pointer;
            color: var.$dorado1;
            font-weight: bold;
            align-self: center;
        }

        .error {
            margin-top: 1rem;
            font-size: 22px;
            text-decoration: none;
            color: red;
        }
    }
}

.admin_dashboard {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: var.$verde5;
    margin: 0 auto;
    padding: 2rem;
    color: var.$dorado1;

    .dashboard_title {
        font-size: 22px;
        text-decoration: underline;
        margin-bottom: 0.5rem;
    }

    ul li {
        list-style: none;

        a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            justify-content: flex-start;
            color: var.$dorado1;
            border-bottom: 1px solid white;

            p {
                padding: 0.5rem;

                &:nth-child(1) {
                    min-width: 100px;
                }

                &:nth-child(2) {
                    min-width: 200px;
                }

                &:nth-child(3) {
                    min-width: 250px;
                }

                &:nth-child(4) {
                    min-width: 100px;
                }

                &:nth-child(5) {
                    min-width: 100px;
                }
            }

            p:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}