@use "../dOtros/variables" as var;


//PAQUETES
.sctnPnl {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    align-items: center;
}

.subPnl {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pnlCol,
.pnlRow {
    border-radius: 5px;
    border: 1px solid var.$dorado1;
    background-color: var.$verde5;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.pnlCol {
    flex-direction: column;
}

.pnlRow {
    flex-direction: row;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.backMenu {
    border: 1px solid var.$dorado1;
    color: var.$dorado1;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: var.$verde5;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: var.$dorado1;
    font-weight: bold;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.title {
    color: var.$dorado1;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.boxBtnA,
.boxBtnB {
    border: 1px solid var.$dorado1;
    color: var.$dorado1;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.boxBtnA {
    background-color: var.$verde5;
}

.boxBtnB {
    background-color: var.$verde2;
}

.divRow,
.divCol {
    display: flex;
    justify-content: space-between;
}

.divCol {
    flex-direction: column;
}

.addText {
    padding: 0.5rem;
    height: 150px;
    width: 350px;
    margin-bottom: 2rem;
}

.createInput {
    padding: 0.5rem;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.orderInput {
    width: 40px !important;
    height: 40px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.imgSize {
    width: 30px;
    height: 30px;
    background-color: var.$dorado1;
    border-radius: 100px;
}

.linkW50H50 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 50px !important;
    width: 50px !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var.$dorado1;
    text-align: center;
    margin-bottom: 1rem;
}

//INDIVIDUALES
.rightSpace {
    margin-right: 0.5rem !important;
}

.rightSpace1rem {
    margin-right: 1rem !important;
}

.leftSpace1rem {
    margin-left: 1rem !important;
}

.tpSpace {
    margin-top: 1rem !important;
}

.btmSpace {
    margin-bottom: 0.5rem !important;
}

.btmSpace2rem {
    margin-bottom: 2rem !important;
}

.btmSpace10px {
    margin-bottom: 10px !important;
}

.noMargin {
    margin: 0 !important;
}

.noBtmMrgn {
    margin-bottom: 0 !important;
}

.imgMuestra {
    width: 15vw !important;
}

// input[type="number"] {
//     -moz-appearance: textfield;
//     /* Firefox */
// }

.done {
    color: green;
}

.pending {
    color: red;
}

.loading {
    color: yellow
}

.alngItmsCntr {
    align-items: center !important;
}

.jstfCntCntr {
    justify-content: center !important;
}

.jstfCntSpcBtw {
    justify-content: space-between !important;
}

.jstfCntFlxStrt {
    justify-content: flex-start !important;
}

.jstfCntFlxNd {
    justify-content: flex-end !important;
}

.entero {
    width: 100% !important;
}

.tresCuartos {
    width: 75% !important;
}

.medio {
    width: 50% !important;
}

.cuarto {
    width: 25% !important;
}

.txt {
    color: white !important;
}

.txtAlgnEnd {
    text-align: end !important;
}

.txtAlgnStrt {
    text-align: start !important;
}

.txtAlgnCntr {
    text-align: center !important;
}

.padd1rem {
    padding: 1rem !important;
}

.bckGClr1 {
    background-color: var.$verde1 !important;
}

.bckGClr2 {
    background-color: var.$verde2 !important;
}

.mrgnAuto {
    margin: auto auto !important;
}

.dsplNln {
    display: inline-block !important;
}

.dsplFlx {
    display: flex !important;
}

th,
td {
    padding: 1rem !important;
    border-bottom: 1px solid var.$dorado1 !important;
}

.hAuto {
    height: auto !important;
}

.wAuto {
    width: auto !important;
}

.tnks {
    font-weight: bold;
    text-shadow: 0 0 3px black;
    color: var.$rosa1;
}

.team {
    font-weight: bold;
    text-shadow: 0 0 1px black;
    color: var.$dorado1;
}