
// main colors
$verde1: rgb(140, 170, 130);
$verde3:rgb(150, 175, 140);
$dorado1:rgb(235, 215, 160);
$dorado2:rgb(129, 118, 86);
$dorado3:rgb(58, 53, 39);

// header colors
$verde2:rgb(111, 129, 103);

// footer colors
$verde4: rgb(160, 185, 150);