
// main colors
$verde1: rgb(102, 138, 99);
$verde3:rgb(65, 102, 64);
$dorado1:rgb(235, 215, 160);
$dorado2:rgb(129, 118, 86);
$dorado3:rgb(58, 53, 39);
$verde5: rgb(21, 32, 17);

// header colors
$verde2:rgb(78, 110, 62);

// footer colors
$verde4: rgb(48, 65, 43);

//Colores originales Payku
$rosa1: rgb(232, 167, 147);
$verde6: rgb(60, 173, 41);
$naranja1: rgb(249, 142, 28);